<h1>Nouvel agent</h1>
<p>Un nouvel agent souhaite creer un compte. Voici les informations du dit agent : </p>
<ul>
    <li>Nom : {{ data.firstName }}</li>
    <li>Prenom : {{ data.lastName }}</li>
    <li>Raison sociale : {{ data.socialReason }}</li>
    <li>Email : {{ data.email }}</li>
    <li>Adresse : {{ data.address }}</li>
    <li>Pays : {{ data.tel }}</li>
    <li>Forme juridique : {{ data.legaForm }}</li>
    <li>Telephone : {{ data.country }}</li>
    <li>Langue parl&eacute; : {{ data.language }}</li>
</ul>